#form {
    width: full;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}
input{
    padding: 7px;
    margin: 0 15px;
    border-radius: 5px;
    border: 1px solid black;
    width: 20%;
}
button{
    padding: 7px;
    margin: 0 15px;
    background: rgb(41, 73, 255);
    border-radius: 5px;
    border: 1px solid;
    color: white
}
#list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#cards{
    background: rgba(128, 128, 128, 0.322);
    width: 30%;
    margin: 10px;
}